	</div>
	
<br clear="all" />
	
	<div class="footer">
		<div><strong>Email:</strong></div>
		<div><strong>Weibo:</strong></div>
		<div><strong>Github:</strong></div>
		<span><form action="/search" method="GET"><input type="text" name="keyword" placeholder="SEARCH" class="search" /></form></span>

	</div>







</div>

</body>
</html>